<!DOCTYPE html>
<html lang="jp">
<head>
    <title>AtCoder Badge Maker</title>
</head>
<body>
    {{ message }}
  <form method="get" action="">
    {{ form.errors.username }}
    <label>{{ form.username.label }} {{ form.username }}</label><br>
    <input type="submit" value="送信">
  </form>
    {% if state == 'valid' %}
<textarea onfocus="this.select();">
<iframe style="width:160px;height:102px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="https://reudme.herokuapp.com/AtCoder_badges/?user={{ form.username.value }}"></iframe>
</textarea>
{% endif %}
</body>
</html>